*{
    box-sizing: border-box;
}
body{
    font-size: 16px;
}
.container{
    background-color: rgb(53, 52, 50);
    border: 4px solid blanchedalmond;
}

.container > div {
    font-size: 1.4em;
    color: white;
    padding: 10px;
    text-align: center;
}

.search {
    background-color: aquamarine;
}
.home {
    background-color: rgb(100, 223, 120);

}
.login{
    background-color: rgb(218, 141, 221);

}
.container2{
    background-color: rgb(189, 186, 179);
    border: 4px solid rgb(202, 14, 14);
    list-style-type: none;
    padding: 0px;
    height: 400px;
}
.container2 > li {
    font-size: 1.4em;
    color: white;
    padding: 10px;
    text-align: center;
}

.search2 {
    background-color: rgb(127, 255, 138);
}
.home2 {
    background-color: rgb(206, 149, 26);

}
.login2{
    background-color: rgb(150, 8, 155);
    
    

}
.container3{
    background-color: rgb(189, 186, 179);
    border: 4px solid rgb(202, 14, 14);
    list-style-type: none;
    padding: 0px;
    height: 400px;
}
.container3 > li {
    font-size: 1.4em;
    color: white;
    padding: 10px;
    text-align: center;
}

.search3 {
    background-color: rgb(127, 255, 138);
}
.home3 {
    background-color: rgb(206, 149, 26);

}
.login3{
    background-color: rgb(150, 8, 155);

}
.heading{
    color: rgb(247, 247, 248);
    background-color: blueviolet;
    text-align: center;
    padding : 10px;
    border-radius: 15px;
}
