.container{
    display: flex;
    /*justify-content: space-around;*/
    flex-direction: row;
    /*justify-content: flex-end;*/

/* flex = flex-grow , flex-shrink , flex-basis*/
}
.search{
    /*flex: auto;*/
    flex: 4;
    /*flex: 1;*/
    /*margin-right: auto;*/
}
.login{
   /* margin-left: auto;*/
   /*flex: auto;*/
    flex: 1;
}
.home{
    /*margin-left: auto;*/
    /*flex: auto;*/
    flex: 1;

}
.container2{
    display: flex;
    flex-direction: row;
    /*align-items: center;
    justify-content: center;*/
}
.search2{
    align-self: flex-start;
}
.login2{
   /* margin-left: auto;*/
   /*flex: auto;*/
   align-self: flex-end;
}
.home2{
    /*margin-left: auto;*/
    /*flex: auto;*/
    align-self: center;

}
.container3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;/*when use width in item  flex */
    
}
.search3{
   order: 1;
}
.login3{
 order: 0;
}
.home3{
  order: 0;
    
}